body{
    background-color: white;
}

h2{
   text-align: center;
}

.row{
   margin-left: 100px;
}

img{
   border-radius: 20px;
   
}

/* body, .card{
   background-color: black;
} */
.card{
   background-color: white;
   height: 300px;
   top: 50px;
}

.card-body{
   
   border-radius: 20px;
}

.card-text, .card-title{
   color: black;
}
.card-text{
   text-align: justify;
}

.fab{
   color: #fabb34;
}

.page-footer{
   background-color:black;
   position:absolute;
    bottom:0;
    width:100%;
}
.footer-copyright{
 color: white;
 text-align: center;
}