@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
.fab, .far, .fa{
    color:  black;
    font-size: 2rem;
    
}

/* .fa-gitlab, .fa-linkedin-in{
  color: white;
} */


/* image 1er page */

#img-fond{ 
  background-image: url(image/undraw_developer_activity_bv83.svg);
  background-size: 500px;
  background-repeat: no-repeat;
  height: 530px;
  min-height: 530px;
  min-width: 600px;
  /* width: 100vw; */
  background-position: center center;
  /* background-size: cover; */
  margin-top: -60px;
  display: flex;
  align-items: center;
    
}

/* .debut{
  background-image: url(image/steve-johnson-YS0YJLU_h2k-unsplash.jpg);
  background-repeat: repeat;
  background-size: 1400px;
  min-width: 1250px;
} */

/* .projets, .scroll-btn, h2{
  background-image: url(image/pawel-czerwinski-MniDX98S7zw-unsplash.jpg);
} */

body{
    background-color: white;
     /* background-image: url(image/pawel-czerwinski-MniDX98S7zw-unsplash.jpg);  */
}
h2{
    color: #fabb34;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}
  

.collapse{
    display: flex!important;
}
 

/* Titre */
h1{
  color:  #fabb34;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  
}


/* Developpeur Web */


.tes{
 /* position: relative;
   display: flex; */
  align-items: center;
  justify-content: start;
  /* background: #f1f1f1; */
 /* overflow: hidden;
  margin-left: auto;
  margin-right: auto;
   margin-top: 60px; */
   height: 350px;
   /* background-color: black; */
}

.perspective-text {
  color:white;
  /* margin-top: 5px; */
  font-family: Arial;
  font-size: 1.7em;
  font-weight: 800;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.perspective-line {
  height: 40px;
  overflow: hidden;
  position: relative;
}

p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
}

.perspective-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.337);
}

.perspective-text:hover p {
  transform: translate(0, -50px);
}

.perspective-line:nth-child(1) {
  left: 29px;
}

.perspective-line:nth-child(2) {
  left: 58px;
  background: rgb(235, 235, 38);
}

.perspective-line:nth-child(3) {
  left: 87px;
  background: #21cdb4;
}

.perspective-line:nth-child(4) {
  left: 116px;
  background: #5ad1cd;
}

.perspective-line:nth-child(5) {
  left: 145px;
}


  /* cart */
  @import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,800);
  @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
  .snip1401 {
    font-family: 'Playfair Display', Arial, sans-serif;
    position: relative;
    top: 300px;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    max-height: 220px;
    width: 100%;
    color: #000000;
    text-align: right;
    font-size: 16px;
    background-color: #000000;
  }
  .snip1401 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .snip1401 img {
    height: 280px;  
    width: 400px;
    backface-visibility: hidden;
  }
  .snip1401 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 1;
    padding: 30px 0 30px 10px;
    background-color: #ffffff;
    width: 40%;
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
  }
  .snip1401 figcaption:before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 100%;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 120px 120px 0;
    border-color: transparent #ffffff transparent transparent;
  }
  .snip1401:after {
    position: absolute;
    bottom: 50%;
    right: 40%;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 120px 0 120px;
    border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .snip1401 h3,
  .snip1401 p {
    line-height: 1.5em;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    margin: 0;
  }
  .snip1401 h3 {
    margin: 0 0 5px;
    line-height: 1.1em;
    font-weight: 900;
    font-size: 1.4em;
    opacity: 0.75;
  }
  .snip1401 p {
    font-size: 0.8em;
  }
  .snip1401 i {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 30px;
    font-size: 44px;
    color: #ffffff;
    opacity: 0;
  }
  .snip1401 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .snip1401:hover img,
  .snip1401.hover img {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    opacity: 0.5;
  }
  .snip1401:hover:after,
  .snip1401.hover:after,
  .snip1401:hover figcaption,
  .snip1401.hover figcaption,
  .snip1401:hover i,
  .snip1401.hover i {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  .logo{
    margin-bottom: 280px;
    margin-right: 470px;
    color: white;
  }

  
  /* About me */
.me{
  background-size: cover;
  height: 300px;
  display: flex;
  justify-content: center; 
}

  .about{
  font-family: 'Permanent Marker', cursive;
  /* margin-left: 100px;
  margin-right: 100px; */
  text-align: center;
  color:black;
  /* height: 200px; */
  text-justify: auto;
  }

  /* Competence */
  .compet{
    /* background-image: url(image/andrew-buchanan-pVMhOC7HnzQ-unsplash.jpg); */
   
    /* margin-left: 150px; */
    /* margin-right: 90px; */
    /* height:80px ; */
    /* width: 1100px; */
    margin-top: 100px;
  }
  .html, .php, .java, .css, .angu, .word, .symfony, .mysql, .git{
    background-color: #fabb34 ;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
  }

  
  /* scroll */
  @-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
 .scroll-btn {
	display: block;
    position: relative;
    /* top: 80px; */
	/* left: 0;
	right: 0; */
    text-align: center;
}
.scroll-btn > * {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7f8c8d;
	color: #ffffff;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: black;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 35px;
	height: 55px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid #fabb34;
	border-radius: 23px;
}
.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: #fabb34;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;
}


/* card orange */

strong {
    color:  #fabb34;
  }
  .co{
    color: white;
  }

img{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 100%;
  height: 100%;
}

.img {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 1s ease-in-out;
  }
  
.card {
    box-sizing: border-box;
    position: relative;
    width: 650px;
    height: 350px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* padding: 20px; */
    border: 6px solid  #fabb34;
    transform: rotateY(calc(var(--x-offset) * 35deg)) rotateX(calc(var(--y-offset) * -35deg));
    /* cursor: url("image/cursor.png"), pointer; */
  }
  
.p {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    position: absolute;
    opacity: 0;
    font-size: 1.3em;
    font-family: "Montserrat", "Open Sans", sans-serif;
    color: white;
    text-shadow: 1px 1px #333;
    /* bottom: 20px; */
    right: 20px;
    
  }
 
.p:nth-child(1) {
    animation: fadeIn 2s cubic-bezier(0.38, 1.38, 1, 1) forwards;
    animation-delay: 1.5s;
  }
 
.p:nth-child(2) {
    animation: fadeInNoTrans 2s cubic-bezier(0.38, 1.38, 1, 1) forwards;
    animation-delay: 3.5s;
  }
 
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    70% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 1;
      transform: translateY(-1em);
    }
  }
 
@keyframes fadeInNoTrans {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
.ng {
    width: 50px;
    height: 70px;
    border: 6px solid  #fabb34;
    top: -45px;
    right: -35px;
    position: absolute;
    z-index: -1;
    transform: scale(0);
    transition: all 0.3s cubic-bezier(0.38, 1.78, 1, 1);
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.card:hover > img{
    filter: brightness(40%);
  }
  
.card:hover > a .ng{
    transform: scale(1);
  }

.row{
      margin-left: 0;
      margin-right: 0;
  }

.espace{
    height: 50px;
}

.page-footer{
    background-color:black;
}
.footer-copyright{
  color: white;
  text-align: center;
}

/* H1 nom */


.emblem {
    /* position: absolute;
    left: 0;
    right: 0;
    top: 25vh;
    margin: 0 auto; */
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    font-weight: bold;
    color:black;
    animation: spinZ 20s linear infinite;
    text-align: center;
  }
  .emblem span {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-transform: uppercase;
    font-size: 1.5rem;
    transition: all 0.5s cubic-bezier(0, 0, 0, 1);
  }
  @keyframes spinZ {
    0% {
      transform: rotateZ(360deg);
    }
    100% {
      transform: rotateZ(0deg);
    }
  }
  
